## Core latex/pdflatex auxiliary files:
*.aux
*.bak
*.bbl
*.bcf
*.run.xml
*.blg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.fls
*.gz
*.nlg
*.nlo
*.nls
*.out
*.run.xml
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
._*

# ignore pdf 
WissBer_PA_SA_BA.pdf

WissBer_PA_SA_BA.fdb_latexmk